.blog {
	background-color: rgba($color3, .5);
	padding: 4em  0;
	&__container {
		width: 90%;
		margin: 0 auto;

		@media screen and (min-width: 1024px) {
			width: 85%;
		}

		@media screen and (min-width: 1200px) {
			width: 1110px;
		}
	}
	&__header {

	}
	&__header-title,
	&__header-subtitle {
		font-family: $fontTitle;
	}
	&__header-title {
		margin: 0;
		font-size: 2em;
		color: rgba($color1, .7);
	}
	&__header-subtitle {
		font-size: 1.5em;
		color: rgba($color5, .5);
		position: relative;
		padding-left: 1.5em;
		&:before {
			content: " ";
			width: 1.3em;
			height: 3.5px;
			background-color: rgba($color5, .5);
			position: absolute;
			left: 0;
			top: .5em; 
		}
	}
	//Articles blog items
	&__items-container {
		margin-top: 4em;

		@media screen and (min-width: 768px) {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}
	}
	&__item {
		margin-bottom: 2.5em;

		@media screen and (min-width: 768px) {
			width: 48%;
		}

		@media screen and (min-width: 1024px) {
			width: 32%;
		}
	}
	&__item-3 {
		@media screen and (max-width: 1023px) {
			display: none;
		}
	}
	&__item-img-container-1 {
		background: url(../images/item-blog-1.jpg) 50% 50% / cover no-repeat;
		height: 12em;
		border-radius: 8px 8px 0 0;

		@media screen and (min-width: 640px) {
			height: 15em;
		}
	}
	&__item-img-container-2 {
		background: url(../images/item-blog-2.jpg) 50% 50% / cover no-repeat;
		height: 12em;
		border-radius: 8px 8px 0 0;

		@media screen and (min-width: 640px) {
			height: 15em;
		}
	}
	&__item-img-container-3 {
		background: url(../images/item-blog-3.jpg) 50% 50% / cover no-repeat;
		height: 12em;
		border-radius: 8px 8px 0 0;

		@media screen and (min-width: 640px) {
			height: 15em;
		}
	}
	&__item-body-post {
		background-color: #fff;
		padding: 1.5em 1em;
		border-radius: 0 0 8px 8px;
	}
	&__item-date {
		margin-top: 0;
		color: rgba($color1, .5);
	}
	&__item-category,
	&__item-link-title {
		text-decoration: none;
	}
	&__item-category {
		color: rgba($color5, .5);
	}
	&__item-link-title {
		color: rgba($color1, .7);
	}
	&__item-title {

	}
	&__item-excerpt {
		color: rgba($color1, .7);
		font-size: 1.1em;
		line-height: 1.5;

		@media screen and (min-width: 1024px) {
			font-size: 1em;
		}
	}
	&__item-read-more {
		color: rgba($color5, .5);
		font-size: 1.1em;

		&:hover {
			color: $color5;
		}

		@media screen and (min-width: 1024px) {
			font-size: 1em;
		}
	}
	//Newsletter section
	&__newsletter-container {
		margin-top: 6em;
		background-color: rgba($color2, .7);
		padding: 1.5em 1em;
		text-align: center;
	}
	&__newsletter-content {
		
		@media screen and (min-width: 768px) {
			width: 80%;
			margin: 0 auto;
		}

		@media screen and (min-width: 1024px) {
			width: 50%;
		}
	}
	&__newsletter-header {
		margin-bottom: 4em;
	}
	&__newsletter-header-title {
		margin: 0;
		font-size: 2.5em;
		color: rgba(#fff, .6);
		font-family: $fontTitle;
	}
	//form style
	&__newsletter-form {

	}
	&__newsletter-input-container {
		margin-bottom: 1em;
	}
	&__newsletter-form-input,
	&__newsletter-form-submit {
		border: none;
		border-radius: 8px;
		width: 100%;
		&:focus {
			outline: none;
		}
	}
	&__newsletter-form-input {
		line-height: 3;
		border: 1px solid #EDE7DF;
		background-color: transparent;
		color: #EDE7DF;
		font-size: 1.2em;
		text-align: center;
		&::placeholder {
			color: #EDE7DF;
		}
	}
	&__newsletter-form-submit {
		line-height: 3;
		color: #fff;
		font-family: $fontImportant;
		letter-spacing: 1px;
		background-color: $color1;
		text-transform: uppercase;
		font-size: 1.2em;
		cursor: pointer;
		transition: all 250ms ease-in;
		&:hover {
			background-color: lighten($color1, 6%);
		}
	}
}